<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="signupForm">
                <div class="form-group">
                    <label>Full Name</label>
                    <input [ngClass]="{'is-invalid' : signupForm.controls.name.errors && checkForm }" formControlName="name" type="text" class="form-control" />
                    <div class="invalid-feedback" *ngIf="signupForm.controls.name.errors && checkForm">
                        Insert Your Full Name
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input [ngClass]="{'is-invalid' : signupForm.controls.email.errors && checkForm }" formControlName="email" type="text" class="form-control" />
                    <div class="invalid-feedback" *ngIf="signupForm.controls.email.errors && checkForm">
                        <div *ngIf="signupForm.controls.email.errors.required">
                            Insert Your Email Id
                        </div>
                        <div *ngIf="signupForm.controls.email.errors.email">
                            Email Id is Incorrect
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input formControlName="password" [ngClass]="{'is-invalid' : signupForm.controls.password.errors && checkForm }" type="password" class="form-control" />
                    <div class="invalid-feedback" *ngIf="signupForm.controls.password.errors && checkForm">
                        Insert Your Password
                    </div>
                </div>
                <div class="form-group">
                    <label>Re-Password</label>
                    <input formControlName="re_password" type="password" [ngClass]="{'is-invalid' : signupForm.controls.re_password.errors && checkForm }" class="form-control" />
                    <div class="invalid-feedback" *ngIf="signupForm.controls.re_password.errors && checkForm">
                        <div *ngIf="signupForm.controls.re_password.errors.required">
                            Insert Your Re-Password
                        </div>
                        <div *ngIf="signupForm.controls.re_password.errors.repassErr">
                            Password and Re-Pasword not Matched
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea formControlName="address" class="form-control" [ngClass]="{'is-invalid' : signupForm.controls.address.errors && checkForm }" ></textarea>
                    <div class="invalid-feedback" *ngIf="signupForm.controls.address.errors && checkForm">
                        Insert Your Full Address
                    </div>
                </div>

                <div class="form-group">
                    <label>Contact</label>
                    <input formControlName="contact" type="text" class="form-control" [ngClass]="{'is-invalid' : signupForm.controls.contact.errors && checkForm }" />
                    <div class="invalid-feedback" *ngIf="signupForm.controls.contact.errors && checkForm">
                        <div *ngIf="signupForm.controls.contact.errors.required">
                            Insert Your Contact Number
                        </div>
                        <div *ngIf="signupForm.controls.contact.errors.numErr">
                            Insert Numbers Only
                        </div>
                        <div *ngIf="signupForm.controls.contact.errors.sizeErr">
                            Insert Numbers between 10 to 11 Digit
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select formControlName="city" class="form-control" [ngClass]="{'is-invalid' : signupForm.controls.city.errors && checkForm }">
                        <option value="" >Select</option>
                        <option value="indore">Indore</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="pune">Pune</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="signupForm.controls.city.errors && checkForm">
                        Select Your City
                    </div>
                </div>
                

                <br />
                <Br />
                <input type="submit" (click)="submit()" value="Signup" class="btn btn-primary" />

                <p *ngIf="formSubmit">
                    Registration Successfull, Please Login to Your Profile
                </p>

            </form>
        </div>
    </div>
</div>
